<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to "MYカルテ", root_path, id: "logo" %>
  </div>
</div>
<% if user_signed_in?%>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="header_menu" class="right">
        <p>こんにちは、<%= @user.user_name %>さん</p>
        <% if @user.user_image? %>
          <%= image_tag @user.user_image.url, :size =>'50x50' %><br>
        <% end %>
        <i class="fas fa-chevron-circle-right"></i> <%= link_to "マイページ", @user %>
        <i class="fas fa-chevron-circle-right"></i> <%= link_to 'プロフィール編集', edit_user_registration_path %>
        <i class="fas fa-chevron-circle-right"></i> <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>
<% else %>
  <div class="top_image">
    <div class="row">
      <div class="col-md-8 col-md-offset-2"">
        <div class="header_font">初めての店があなたの行きつけ</div>
        <ul>
          <li>お店に入りたいけど店員に話しかけられるのがイヤ</li>
          <li>カット中の会話はめんどくさい etc...</li>
        </ul>
        <div class="header_font">あなたに合ったサービスを提供します</div>
      </div>
    </div>
  </div>
<% end %>
